/**
 * ********** Variables **********
 */

$font-web:       'Web Font';
$font-fallback:  'Web Font Local', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack:     $font-web, $font-fallback;
