/**
 * ********** Fonts **********
 */

/** Web Font Local */
@font-face {
	font-family: 'Web Font Local';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Web Font Regular'), local('WebFont-Regular');
}

/** Web Font Normal */
@font-face {
	font-family: 'Web Font';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Web Font Regular'), local('WebFont-Regular'),
	     url('web-font-regular.woff2') format('woff2'),
	     url('web-font-regular.woff') format('woff');
}

/** Web Font Bold */
@font-face {
	font-family: 'Web Font';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Web Font Bold'), local('WebFont-Bold'),
	     url('web-font-bold.woff2') format('woff2'),
	     url('web-font-bold.woff') format('woff');
}
