/**
 * ********** Minimal Normalize ********** 
 */

html {
	-webkit-text-size-adjust: 100%; /* iOS: Prevent text size adjust after device orientation change. */
}

main,
details {
	display: block;
}

summary {
	display: list-item;
}

[hidden],
template {
	display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input,
textarea,
select {
	-webkit-appearance: none;
	background-color: #ffffff;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;  /** Button size fix */
	padding: 0; /** Button size fix */
}

[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="url"],
[type="tel"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime-local"],
[type="color"] {
	outline: none;
}

textarea {
	vertical-align: top;
	overflow: auto;

	outline: none;
}

img {
	border: none; /* IE < 11: No border for `img` wrapped with `a` */
}

iframe {
	display: block;
	margin: 0 auto;

	border: 0;
}
