/**
 * *********** Base **********
 */

html, body {
	margin: 0;
	padding: 0;

	color: $color-text;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.625em;
}

.no-js body,
.js-fonts-loaded body {
	font-family: $font-primary, sans-serif;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.35em;
}

h3 {
	font-size: 1.15em;
}

h4,
h5,
h6 {
	font-size: 1.05em;
}

p {
	margin: 1em 0;
}

.align-left {
	float: left;
}

.align-center {
	margin: 0 auto;
}

.align-right {
	float: right;
}
