/**
 * *********** Base **********
 */

html, body {
	margin: 0;
	padding: 0;

	color: $color-text;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.625em;
}

.no-js body,
.js-fonts-loaded body {
	font-family: $font-primary, sans-serif;
}

.align-left {
	float: left;
}

.align-center {
	margin: 0 auto;
}

.align-right {
	float: right;
}
