/**
 * ********** Fonts **********
 */

/** Web Font Normal */
@font-face {
	font-family: 'Web Font';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Web Font Regular'), local('WebFont-Regular'),
	     url('../fonts/web-font-regular.woff2') format('woff2');
}

/** Web Font Bold */
@font-face {
	font-family: 'Web Font';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Web Font Bold'), local('WebFont-Bold'),
	     url('../fonts/web-font-bold.woff2') format('woff2');
}
