/**
 * ********** Helpers **********
 */

.browsehappy {
	padding: 0.25em;

	background-color: #fff666;
	
	color: #222222;
	text-align: center;

	a {
		color: #222222;
	}
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.offscreen {
	position: absolute;
	left: -1000em;
}

.screen-reader-text {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;
	clip-path: inset(50%);

	white-space: nowrap;

	&--focusable:active,
	&--focusable:focus {
		position: static;

		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;

		clip-path: none;

		white-space: inherit;
	}
}

.sm-visible,
.md-visible,
.lg-visible,
.xl-visible {
	display: none;
}

@media only screen and (min-width: $break-sm) {
	.sm-visible {
		display: block;
	}

	.sm-hidden {
		display: none;
	}
}

@media only screen and (min-width: $break-md) {
	.md-visible {
		display: block;
	}

	.md-hidden {
		display: none;
	}
}

@media only screen and (min-width: $break-lg) {
	.lg-visible {
		display: block;
	}

	.lg-hidden {
		display: none;
	}
}

@media only screen and (min-width: $break-xl) {
	.xl-visible {
		display: block;
	}

	.xl-hidden {
		display: none;
	}
}
